In [3]:
# 1. create variables
# task1 a.
rollno=25 # create and assign
print(rollno) # print value
print(id(rollno)) # print  id
print(type(rollno)) # print data type

25
140728766446776
<class 'int'>

In [5]:
# task1 b.
firstname='Riya' # create and assign
print(firstname) # print value
print(id(firstname)) # print  id
print(type(firstname)) # print data type

Riya
2148180986016
<class 'str'>

In [7]:
# task1 c.
lastname='Nathan' # create and assign
print(lastname) # print value
print(id(lastname)) # print  id
print(type(lastname)) # print data type

Nathan
2148109865280
<class 'str'>

In [9]:
# task1 d.
maxmarks=50 # create and assign
print(maxmarks) # print value
print(id(maxmarks)) # print  id
print(type(maxmarks)) # print data type

50
140728766447576
<class 'int'>

In [13]:
# 2. naming variables
# task 2a
var1 = 2
print(var1)

2

In [15]:
# task 2b
2var=2 # invalid variable name; shldnt begin with no
print(2var)

SyntaxError: invalid decimal literal (721026356.py, line 2)

In [21]:
# task 2c
var 1 =2 # invalid variable name; shldnt have space
print(var 1)

SyntaxError: invalid syntax (1089706886.py, line 2)

In [23]:
# task2d
var$2=2 # invalid variable name; shldnt begin with no
print(var$2)

SyntaxError: invalid syntax (3653879555.py, line 2)

In [29]:
# 3. assigning values to variables
# task 3a
Class = 15 # accepts defining & assingning the variable which is different from keyword 'class'

In [31]:
# task 3b
class = 15 #invalid syntax: reserved keyword

SyntaxError: invalid syntax (906786208.py, line 2)

In [33]:
# task 3c
DEF = 13

In [35]:
# task 3d
def = 15 #invalid syntax: reserved keyword

SyntaxError: invalid syntax (515514663.py, line 2)

In [37]:
# task 3e
a=TRUE # error: string not in ''

NameError: name 'TRUE' is not defined

In [43]:
# task 3f
b=false # error: string not in ''

NameError: name 'false' is not defined

In [45]:
# 4. using id()
# task 4a
marks = 95.7
print(marks)
print(id(marks))
print(type(marks))

95.7
2148212325552
<class 'float'>

In [47]:
# task 4b
marks = 97.5
print(marks)
print(id(marks))
print(type(marks))
# task 4c
# id of marks in 4a = 2148212325552 != 2148213145872 of id of marks in 4b; coz each execution stores marks in different location

97.5
2148213145872
<class 'float'>

In [75]:
# 5formatting the output
#task 5a
maxmarks=100
print(100*marks/maxmarks,'%') # concantenation is used for display
# task 5b
fullname = firstname + ' ' + lastname
print(fullname) # fullname stores the contenation & shows as variable
#task 5c
print(fullname, 'scored', 100*marks/maxmarks,'%')

97.5 %
Riya Nathan
Riya Nathan scored 97.5 %

In [61]:
# arithmetic operations
# task 6a
print(1 + '2') # int & string cannot be added

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
# task 6b
print('1' + '2') # here concatenation done coz both numbers are considered as strings

12

In [65]:
# task 6c
print(1/2) # divion '/' shows in decimal values

0.5

In [67]:
# task 6d
print(1//2) # floor divsion shows value as in whole number, only the quatient not round off

0

In [71]:
# logical operators
# task 7a
print(True and True) # true chesck 2 condtn if both are true -> true, coz of 'and' 
# task 7b
print(True and False) # false coz both shld be true in and condtn
# task 7c
print(True or True) # true coz eitehr 1 shld be true in or condtn
# task 7d
print(True or False) # true coz eitehr 1 shld be true in or condtn

True
False
True
True

In [81]:
# identity & membership operator
# task 8
print(firstname in fullname) # true, coz variable firstname is part of fullname
print(firstname is fullname) # false, both variable has seperate storage address

True
False

In [83]:
# associativity
# task 9
a=4
b=3
c=2
d=a**b+c #d goes in order, 1st a**b ie) 4 power 3 is 64 follwed by adding with c => 64+2 = 66
e=a**(b+c)  # e 1st adds b,c which is in bracket & then powers result with a by bodmas ie) 3+2=5 power with 4 => 5 power 4 =1025
print(d)
print(e)

66
1024