In [3]:
#task1. searching a list
mynames=['Joe', 'Zoe', 'world', 'Brad', 'Angelina', 'world', 'Zuki', 'Tom', 'Paris', 'world', 'magic']
if 'USA' in mynames:
  print(True)
else:
  print(False)

False

In [5]:
#task2 frequency count of elements in a list
count=0
for i in mynames:
    if i=='world':
        count+=1
print('world occurs', count, 'times')

world occurs 3 times

In [6]:
#task3 looping over a list
numlist=list(range(1,30))
c_odd=0
c_even=0
for i in numlist:
    if i%2==0:
        c_even+=1
    else:
        c_odd+=1
print('There are', c_odd, 'odd numbers and', c_even, 'even numbers between range 1 and 30')

There are 15 odd numbers and 14 even numbers between range 1 and 30

In [57]:
#task4 appending elements to a list; use append to add new elements stored in el to numlist
el=[]
count=0
for i in numlist:
    if i%2==0:
        el.append(i)
        count+=1
        if count>=5: break
numlist.append(el)
print(numlist)
print(el)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, [2, 4, 6, 8, 10]]
[2, 4, 6, 8, 10]

In [4]:
#task5 Arithmetic operation on list elements
count=2
for i in range(29,1,-1):
    if i%2==1:
        print(i)
        count-=1
        if count==0: break

29
27

In [12]:
#task6 Appending 2 lists
x=[]
y=[]
for i in range(1,6):
    nm=int(input('Enter a number'))
    x.append(nm)
for j in range(1,4):
    nm1=int(input('Enter a number'))
    y.append(nm1)
x.extend(y)
print(x)

Enter a number 1
Enter a number 1
Enter a number 1
Enter a number 1
Enter a number 1
Enter a number 2
Enter a number 2
Enter a number 2

[1, 1, 1, 1, 1, 2, 2, 2]

In [14]:
#task7 Populating elements in a list
'''list_a= sq of no 1 to 10
list_b= sq of no 30 to 40'''
list_a=[]
list_b=[]
for i in range(1,11):
    list_a.append(i*i)
for j in range(30,41):
    list_b.append(j*j)
print(list_a)
print(list_b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [16]:
#task8 iterations in python using for loop
num=int(input('Enter a number to display its multiplication table'))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

Enter a number to display its multiplication table 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50