In [1]:
#task1 factorial of a number
n=int(input('Enter a number to show its factorial value:'))
i=1
prod=1
while i<=n:
    prod*=i
    i+=1
print('factorial of given number is', prod)

Enter a number to show its factorial value: 5

factorial of given number is 120

In [19]:
#task2 Prime numbers: check for 50 51
i=2
n= int(input('Enter the number:'))
while i<n:
   if n%i==0:
       resp='Not a prime number'
       break
   else:
       resp='Is a prime number'
   i+=1
print(resp)

Enter the number: 50

Not a prime number

In [5]:
#task3 sum of all digits
numb=input('Enter a 5 digit number')
i=0
sum=0
while i<5:
    sum=sum+int(numb[i])
    i+=1
print('The sum of the 5 digits are:', sum)

Enter a 5 digit number 18876

The sum of the 5 digits are: 30

In [7]:
#task4 Fibonacci series
a=0
b=1
sum=0
count=0
n=int(input('How many numbers in fibonacci series do you need?'))
while count<n:
    print(a, end=' ')
    sum=a+b
    a=b
    b=sum
    count+=1

How many numbers in fibonacci series do you need? 8

0 1 1 2 3 5 8 13

In [9]:
#task5 Adding two tuples
t1=(1,2,3)
t2=(4,5,6)
print(id(t1)) #2271093911872
print(id(t2)) #2271111636224
t1=t1+t2
print(id(t1)) #2271069334848
# The unique identifier of t1 changes when the tuple is inserted with another. ie) memory address changes when storing the old and new tuple combined
#The initial tuple t1 is modified and stored, giving a new identifier to that tuple t1

2271093911872
2271111636224
2271069334848

In [21]:
#task6 Inserting data into sets
m={10,20,30,40,50} #set
n=[33,40,55,60,70] #list
for i in n:
    m.add(i)
print(m)
print(n)
# the common element 40 from both m and n occurs only once in final set m, because duplication is not allowed in set

{70, 10, 20, 30, 33, 40, 50, 55, 60}
[33, 40, 55, 60, 70]

In [31]:
#task7 Iterating over dictionary data
Data_Set={'Python':1, 'Data':2, 'Excel':3, 'SQL':4}
for i in Data_Set:
    if Data_Set[i]%2==1: continue
    print(f"{i}: {Data_Set[i]}")

Data: 2
SQL: 4

In [1]:
#task8 populating a dictionary data structure
D={}
i=1
while i<=15:
    D.update({i:i*i})
    i+=1
print(D)
D.update({100:10000})
print('Updated', D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
Updated {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}